@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   /* === Couleurs principales === */
   --primaire: #007B5E;          /* Vert forêt Sénégal - principal */
   --secondaire: #E8B10D;        /* Or sablonneux - accents et survols */
   --accent: #D32F2F;            /* Rouge vif - alertes et highlights */
    --wave1:#0B5EAF;
    
   /* === Couleurs neutres === */
   --neutre-clair: #F9FAFB;      /* Fond général */
   --neutre-fonce: #1E293B;      /* Texte principal */
   --gris-moyen: #CBD5E1;        /* Bordures, séparateurs */
 
   /* === États et statuts === */
   --succes: #00A676;            /* Actions réussies, validation */
   --alerte: #FFB020;            /* Risque moyen ou attention */
   --danger: #E53E3E;            /* Risque élevé, erreur */
 
   /* === Couleurs contextuelles === */
   --fond-carte: #E3F2F1;        /* Fond des cartes / cartes géographiques */
   --ombre-carte: rgba(0, 0, 0, 0.08); /* Légère ombre douce */
   --fond-popover: #FFFFFF;      /* Popups, modals */
   --bordure-popover: #E2E8F0;   /* Bordures légères */
 
   /* === Typographie === */
   --texte-principal: var(--neutre-fonce);
   --texte-secondaire: #475569;
   --texte-inverse: #FFFFFF;
 
   /* === Composants === */
   --fond-bouton-primaire: var(--primaire);
   --fond-bouton-secondaire: var(--secondaire);
   --fond-bouton-desactive: #E2E8F0;
   --texte-bouton: #FFFFFF;
   --texte-bouton-desactive: #94A3B8
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wave-bg {
  background: linear-gradient(-45deg, var(--primaire), var(--wave1), var(--primaire), var(--wave1));
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}
